.projects-wrapper {
  color: white;
  margin: 0px 0px 150px 0px;
  display: flex;
  flex-flow: column;
  align-items: center;
  width: 100%;
 

  .projects-title {
    margin-bottom: 100px;
    font-family: "Poppins", sans-serif;
    font-size: 38px;
    color: #D6DFF2;
    font-weight: 600;
  }

  .gallery {
    list-style: none;
    display: grid;
    position: relative;
    width: 100%;
    max-width: 900px; 
    justify-items: center;

    --offset: clamp(80px, 18vw, 200px);

    .project-item {
      position: relative;
      grid-area: 1 / 1;
      width: clamp(120px, 28vw, 260px); 
      aspect-ratio: 5 / 3;
      cursor: pointer;
      background-color: #1e1e1e;
      color: #fff;
      display: grid;
      place-items: center;
      font-size: 1.2rem;
      transition: transform 0.4s ease, box-shadow 0.3s ease, opacity 0.4s ease;
      will-change: transform;
      overflow: hidden;
      border-radius: 12px;

      border: 12px solid #333; // додана темна рамка
  box-shadow: 0 4px 12px rgba(0,0,0,0.6); // легка тінь для об’єму


      &:hover {
        transform: scale(1.05);
        box-shadow: 0 8px 24px rgba(0, 0, 0, 0.9);
      }
    }

  
    .project-item[data-pos='0'] {
      transform: translateX(calc(-1 * var(--offset))) scale(1);
      z-index: 1;
      opacity: 0.5;
    }

    .project-item[data-pos='1'] {
      transform: translateX(0) scale(1.4);
      z-index: 10;
      opacity: 1;
    }

    .project-item[data-pos='2'] {
      transform: translateX(calc(1 * var(--offset))) scale(1);
      z-index: 1;
      opacity: 0.5;
  }

    .project-item[data-pos='0'],
    .project-item[data-pos='4'] {
      opacity: 0.5;
    }
    .project-item[data-pos='2'] {
      opacity: 1;
    }

    .gallery-img {
      width: 100%;
      height: 100%;
      object-fit: cover;
      display: block;
    }
  }

  /* ====== adaptive ====== */
  @media (max-width: 1024px) {
    .gallery {
      grid-template-columns: repeat(2, 1fr);
      gap: 20px;
      width: 100%;        
      max-width: 100%;    
      padding: 0px;
      .project-item {
        grid-area: auto;
        transform: none !important;
        opacity: 1 !important;
        z-index: auto !important;

        width: clamp(340px, 25vw, 220px);
      }
    }
  }

  @media (max-width: 600px) {
    .gallery {
      grid-template-columns: 1fr;
    }
  }
}
