.downloadBtn {
  display: inline-block;
  padding: 10px 20px;
  background-color: var(--accent-color);
  color: black;
  border: 1px solid #AAAAAA;
  border-radius: 8px;
  font-weight: 600;
  text-align: center;
  cursor: pointer;
  text-decoration: none; 
  transition: background-color 0.2s ease;
  margin-bottom: 40px;

  &:hover {
    background-color: var(--accent-color-dark);
    color: white;
  }
}