.header-wrapper {
   
    height: 100px;
    background-color: #111111;
    margin: 0;
    color: white;
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin: 40px 30px 40px 30px;
    padding: 0px 40px 0px 40px;

    .logo-wrapper {
        
        .logo-icon {
            color: #8FE8C8;
        }
        .logo-text {
            margin-left: 10px;
        }
    }

    .nav {

        .nav-container {
            display: flex;
            list-style: none;
            margin: 0;
            padding: 0;
            gap: 30px;
            
            li {

                a {
                    position: relative;
                    text-decoration: none;
                    color: white;
                    padding: 5px 0;

                    &::after {
                    content: "";
                    position: absolute;
                    left: 50%;
                    bottom: 0;
                    transform: translateX(-50%) scaleX(0); // показати одразу
                    transition: transform 0.4s ease;
                    transform-origin: center;
                    width: 100%;
                    height: 3px;
                    background: #8BE8C8;
                    z-index: 9999;
                    }

                    &:hover::after {
                        transform:  translateX(-50%) scaleX(1);
                    }
                }
            }
        }
    }

    .social-box {
        display: flex;
        align-items: center;
        .linkedin {
            width: 39px;
            height: 39px;
        }
        .gmail {
            width: 39px;
            height: 39px;
        }
    }
}