.burger-wrapper {
  display: none;


    @media (max-width: 768px) {
      display: flex;
      width: 60px;
      height: 40px;
      align-items: center;
      justify-content: flex-end;
      margin-left: auto;
      position: relative;
    }

    .burger-button {
      background: none;
      border: none;
      color:  white;
      font-size: 28px;
      cursor: pointer;
      padding: 0;
      line-height: 1;
    }
    .nav-container {
      display: none;
      flex-direction: column;
      gap: 20px;
      position: absolute;
      top: 100%;
      left: 0;
      width: 100%;
      background-color: #111;
      padding: 20px;
      z-index: 999;
      border-bottom-left-radius: 12px;
      border-bottom-right-radius: 12px;

      li {
        list-style: none;

        a {
          text-decoration: none;
          color: white;
          font-size: 18px;

          &:hover {
            color: var(--accent-color);
          }
        }
      }
}

.active {
  display: flex;
}

}