
.resume-wrapper {
    width: 100%s;
    padding-bottom: 100px;

    h2 {
        color: #42A895;
    }


    .resume-content {
        width: 100%;



        .resume-container {
            width: 100%;
            padding: 0px 150px 0px 150px;
            display: flex;
            color: white;
            flex-flow: column;

            .resume-left, .resume-right {

            }

            .resume-left {
                display: flex;
                justify-content: space-around;

                div {
                    font-size: 17px;
                }

                .h2 {
                    color: #42A895;
                }

                .myImg {
                    width: 400px;
                    height: 580px;
                    border-radius: 15px;
                }
                .skills-box {

                }
                .info-box {

                    a {
                        text-decoration: none;
                        color: white;
                    }
                }
                .links-box {
                    display: flex;
                    flex-flow: column;
                    
                    a {
                        text-decoration: none;
                        color: white;
                    }
                    .linkedin {
                        margin-top: 10px;
                    }
                }
            }
            .resume-right {
                padding: 0px 40px 0px 40px;
                font-size: 20px;

                div {
                    span {
                        color: #42A895;
                        font-weight: bold;
                        font-size: 25px;
                    }
                }
            }
        }
    }
}

