html, body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
.App {
  background: linear-gradient(to right, #161616, #222121);




  min-height: 100vh;
  display: flex;
  flex-direction: column;
}